$cyan: #5bc0de;
$green: #5cb85c;

$white: #fff;
$off-white: #fafafa;
$white-gray: #f7f7f7;
$lightest-gray: #eee;
$lighter-gray: #ddd;
$light-gray: #ccc;
$medium-gray: #999;
$gray: #777;
$dark-gray: #333;
