.payment-row {
  background: $white;
  border-bottom: 1px solid $lightest-gray;
  padding: 10px 0;

  &:last-of-type {
    border-bottom: 0;
  }

  &.bill {
    border-left: 5px solid $cyan;
  }

  &.paycheck {
    border-left: 5px solid $green;
  }

  i.bill {
    color: $cyan;
  }

  i.paycheck {
    color: $green;
  }

  .name {
  }

  .due {
    color: $gray;
    font-size: 14px;
  }

  .days-left {
    color: $medium-gray;
    font-size: 13px;
    text-transform: uppercase;
  }

  .payment-actions {
    margin-top: 16px;
  }
}
